Package: love.litten.safariwallpaper
Name: SafariWallpaper
Depends: mobilesubstrate, preferenceloader, ws.hbang.common (>= 1.14), firmware (>= 13.0), com.muirey03.libimagepicker
Architecture: iphoneos-arm
Description: Personalize Safari with a wallpaper
Maintainer: Litten <hiya@litten.love>
Author: Litten <hiya@litten.love>
Section: Tweaks
Version: 1.1
Installed-Size: 284
